.grid_12.subtitle
  =link_to '本月收支', records_path, :class=>'current'
  %span.spline
    |
  =link_to '按月份查看', month_records_path
  %span.spline
    |
  =link_to '按收支项目查看', category_records_path

= render 'list'






