-content_for :title, '账单查询'
.grid_12.subtitle
  =link_to '本月收支', records_path
  %span.spline
    |
  =link_to '按月份查看', month_records_path, :class=>'current'
  %span.spline
    |
  =link_to '按收支项目查看', category_records_path

.grid_12#filter
  = form_tag month_records_path, :method => :get do
    %span
      月份
      = text_field_tag 'month', @month, :class=>'Wdate', :readonly=>'readonly', :onfocus=>"WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM'})"
      = submit_tag '查看', :class=>'submit', :name => nil

= render 'list'
