-content_for :title, '银行账号列表'
.grid_12.subtitle
  =link_to '账号列表', accounts_path, :class=>'current'
  %span.spline
    |
  =link_to '新增账号', new_account_path

.grid_12.subtitle
  %div{:style=>'float:right'}
    %span.green
      总资产： ￥ #{sum @accounts}


.grid_12
  -unless @accounts.empty?
    %table.list
      %tr.title
        %td 银行
        %td{:width=>'30%'} 账号
        %td 开户地
        %td 余额
        %td.center 操作
        -@accounts.each do |account|
          %tr.content
            %td
              =account.name
            %td
              =account.number
            %td
              =account.location
            %td
              = balance account
            %td.center
              =image_tag 'edit.png'
              =image_tag 'delete.png'

  -else
    .eInfo
      =image_tag 'exclamation.png'
      %p
        %span 无银行账号
        %br
        %span 请点击
        =link_to '新增账号', new_account_path
        %span 添加




