-content_for :title, '银行账号列表'
.grid_12.subtitle
  =link_to '账号列表', accounts_path, :class=>'current'
  %span.spline
    |
  =link_to '新增账号', new_account_path

.grid_12.subtitle
  %div{:style=>'float:right'}
    %span.green
      总资产： #{number_to_currency(sum(@accounts), :unit => '￥')}


.grid_12
  -unless @accounts.empty?
    %ul.list
      %li.head
        %span 银行
        %span{:width=>'180px'} 账号
        %span 开户地
        %span 余额
        %span 操作
      -@accounts.each do |account|
        %li.body
          %span
            =account.name
          %span
            =account.number
          %span
            =account.location
          %span
            =number_to_currency(balance(account), :unit => '￥')
          %span.center

            =image_tag 'edit.png'
            =image_tag 'delete.png'

  -else
    .eInfo
      =image_tag 'exclamation.png'
      %p
        %span 无银行账号
        %br
        %span 请点击
        =link_to '新增账号', new_account_path
        %span 添加




